<section class="cta-area py-5 bg-light">
    <ul class="circles">
        <li><i class="fa fa-envelope-open fa-5x"></i></li>
        <li><i class="fa fa-envelope fa-4x"></i></li>
        <li><i class="fa fa-envelope fa-3x"></i></li>
        <li><i class="fa fa-envelope-open fa-2x"></i></li>
        <li><i class="fa fa-envelope fa-1x"></i></li>
        <li><i class="fa fa-envelope fa-2x"></i></li>
        <li><i class="fa fa-envelope fa-1x"></i></li>
        <li><i class="fa fa-envelope fa-3x"></i></li>
        <li><i class="fa fa-envelope fa-2x"></i></li>
        <li><i class="fa fa-envelope fa-5x"></i></li>
    </ul>
</section>
